* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: azure;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3185b9;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .card {
    margin: 10px 0;
    padding: 15px;
  }
  
}

@media (max-width: 480px) {
  .card {
    padding: 10px;
    margin: 5px 0;
  }
}
